@import '@fontsource/fira-mono';
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');


:root {
    --font-body: 'Roboto', Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu,
                 Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --font-mono: 'Fira Mono', monospace;
	--color-bg-0: #5f8670;
	--color-bg-1: #5f8670;
	--color-bg-2: #5f8670;
	--color-theme-1: #FF9800;
	--color-theme-2: rgb(132, 166, 64);
	--color-text: rgba(255, 250, 221, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--font-body);
	color: var(--color-text);

	/* Additional Variables for Animation */
	--color-anim-0: #5f8670;
	--color-anim-1: #FF9800;
	--color-anim-2: #B80000;
	--color-anim-3: #820300;
	
	font-family: var(--font-body);
	color: var(--color-text);
	
	
}

@keyframes backgroundAnimation {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

body {
    min-height: 100vh;
    margin: 0;
    background: linear-gradient(270deg,var(--color-anim-0), var(--color-anim-1), var(--color-anim-2), var(--color-anim-3));
    background-size: 600% 600%;
    animation: backgroundAnimation 15s ease infinite;
    background-attachment: fixed;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}

.visually-hidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: auto;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
	white-space: nowrap;
}
